* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;

}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.wrapper{
    overflow: hidden;
    position: relative;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top-svg{
    position: absolute;
    top: -333px;
    right: -488px;
}

.top {
    height: 710px;
    background-image: url(img/top_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__header {
        font-size: 64px;
        font-weight: 700;
        padding-top: 196px;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        width: 720px;
        padding-top: 24px;
        padding-bottom: 48px;
    }
}

.button {
    width: 247px;
    height: 66px;
    border: 1px solid #202027;
    border-radius: 60px;
    background-color: #202027;
    color: #fff;
    padding: 16px 28px 16px 28px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    z-index: 10;

    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;
    }
    &-box{
        position: relative;
    }
}

.scrollbar {
    height: 90px;
    background-image: url(img/scrollbar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.header2 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

.about {
    max-height: 1470px;
    background-color: #202027;

    &__header {
        padding-top: 94px;
        margin-bottom: 24px;
    }

    &__text {
        width: 788px;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 72px;
    }
}

.games {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    &-img {
        background-color: #fff;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &-round {
            border-radius: 30px;
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &-content {
        background-color: #fff;
        border-radius: 0 0 30px 30px;
        padding: 32px;
        grid-column: span 4;
        position: relative;
        z-index: 0;

    }

    &-header {
        color: #202027;
        font-size: 16px;
        font-weight: 500;
        text-align: center;

        &-box {
            background-color: #F7F7F7;
            width: 108px;
            border-radius: 52.58px;
            padding-top: 8px;
            padding-bottom: 10px;
        }
    }

    &-text {
        font-size: 32px;
        font-weight: 700;
        color: #202027;
    }

    &__1,
    &__2,
    &__3,
    &__4,
    &__5,
    &__6 {
        grid-column: span 4;
        height: auto;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s;
        z-index: 1;
    }

    &__4,
    &__6 {
        margin-top: -39px;
    }

    &__1:hover,
    &__2:hover,
    &__3:hover,
    &__4:hover,
    &__5:hover,
    &__6:hover {
        transform: scale(1.05);
    }

}

.minigames {
    height: 3376px;
    background-color: #202027;

    &__header {
        padding-top: 46px;
    }
}

.footer {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    padding-top: 61px;
    padding-bottom: 60px;

    &-box {
        height: 150px;
        background-image: url(img/footer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}